* {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}
.line {
	background-color: #C4C4C4;
	width: 100%;
	height:0.5em;
	margin-bottom: 1.5em;
}
h1 {
  font-family: proxima-nova, sans-serif;;
  font-weight: 550;
  font-style: normal;
  font-size: 2.5em;
  margin-bottom: 0.3em;
}
dd {
	margin-bottom:0.6em;
}
i {
	font-style: italic;
}

footer {
            background-color: #fff;
            color: black;
            text-align: center;
            padding: 20px;
            width: 100%;
            font-size: 9.5px;
            bottom: 0;
        }

.navigation > a {
	text-decoration: none;
	color: #6b6B6B;
}
.navigation {
	font-size: min(1.4em, 3vw);
	margin-bottom: 2.5em;
}
.navigation > .active {
	color: #000000;
}
.navigation > b {
	padding-left: 0.3em;
	padding-right: 0.3em;
}
/*p.med {
	font-size: min(1.1em, 2vw);
}*/

.body {
	margin: 0 auto;
	padding-top: 4%;
	margin-bottom: 10vw;
}
.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start; /* Allinea le colonne a sinistra */
    gap: -4vw; /* Imposta lo spazio tra le colonne */
    align-items: flex-start; /* Assicura che l'allineamento verticale sia in alto */
}

.row > .col {
    flex-basis: 46%; /* Ogni colonna occupa circa metà della larghezza */
    margin-right: 0; /* Rimuove il margine destro */
}

.row > .col:last-child {
    margin-right: 0; /* Non è più necessario dato che usiamo `gap` */
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .body {
  	width: 80%;
  }
/* Mobile configuration for writings page*/
  .toggle {
  	display: block;
  }
  .group {
  	background-color: #eeeeee;
  }
  .row {
    flex-direction: column;
  }
  .col > img {
    width: 60%;
  }
}

/* For desktop and tablet*/
@media only screen and (min-width: 768px) {
  .body {
  	width: 60%;
  }
  .toggle {
  	display: none;
  }
  .col > img:first-child {
    width: 50%;
  }

}
